$purpleLight: #302D43;
$purpleDark: #282639;
$neonGreen: #92CF48;
$lightGreyBG: #F4F6F9;
$darkGreyBG: #EAEDF3;
$greyDarkFont: #6C7882;
$greyLightFont: #BBC1CD;
$greyLightFont2: #A5ADBD;
$orange: #F49320;
$purple: #744BCE;

$grid-columns:12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width:0px)";
$breakpoint-medium: "only screen and (min-width:768px)";
$breakpoint-large: "only screen and (min-width:1008px)";
$breakpoint-xl: "only screen and (min-width:1300px)";